* {
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: teal;
  color: white;
  line-height: 1.5;
}
/* Header styling */
header {
  background-color: white;
  color: teal;
  padding: 20px;
  text-align: center;
}
header ul {
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: center;
}
header li {
  display: inline-block;
  margin: 0 15px;
}
header a {
  padding:20px;
  color:black;
  text-decoration: none;
  font-weight: bold;
  transition: all 0.3s ease;
}
header a:hover {
  color:teal;
  text-shadow: 0 0 10px grey;
}
/* main design */
section{
    background-color:whitesmoke;
    color:black;
    border-radius: 30px;
    padding:20px;
    margin:50px auto;
    width:80%;
    box-shadow: 0 0 20px whitesmoke;
}
section h2{
    color:teal;
    padding:10px;
    margin:10px 20px;
    text-align:center;
    border-radius:6px;
}
section h3{
    background-color:teal;
    color:white;
    padding:10px;
    margin:10px 20px;
    text-align:center;
    text-decoration: underline;
    border-radius:6px;
}
article:first-of-type  > p{
  box-sizing: 8px;
  background-color:none;
  color:black;
  padding:10px;
  margin:10px 20px ;
  line-height: normal;
}

/* Form fields */
input[type="text"],
input[type="email"],
select,
textarea {
  background-color:white;
  color: black;
  border: 1px solid teal;
  padding:10px;
  margin:5px 5px;
  border-radius: 6px;
  width: 100%;
  margin-top: 6px;
  box-sizing: border-box;
}

input[type="text"],
input[type="email"],
select:focus,
textarea:focus{
  outline: none;
  border-color:teal;
  box-shadow: 0 0 6px black;
}
fieldset {
  border: none;
  color:black;
  padding: 0;
  margin: 0;
}

/*Label and placeholder styling */
label {
  display: block;
  color: black;
  margin-bottom: 6px;     
}
input[type="submit"] {
  background-color: teal;
  color: white;
  border: 2px solid black;
  padding: 10px;
  border-radius:6px;
  font-weight: bold;
  margin-right: 10px;
  margin-top: 15px;
  transition: all 0.3s ease;
}
input[type="submit"]:hover{
  background-color: teal;
  color: black;
  border: 2px solid whitesmoke;
  margin: 0 10px;
}
.form-buttons {
  text-align: center;
}

article address{
  background-color: teal;
  color:white;
  margin:20px 10px;
  padding:5px;
}
article address a{
  background-color:teal;
  color:white;
  margin:0 10px;
  padding:5px;

}
article address a:hover{
  background-color:teal;
}
table{
    border-collapse: collapse;
    margin: 20px auto;
    max-width:900px;
    width:90%;
}

table, th, td {
  border: 1px solid teal;
}

table th{
    background-color:teal;
    color:white;
    text-align:center;
    font-weight:bold;
    margin: 0 8px;
    padding:10px
}
table td{
    background-color:teal;
    color:white;
    text-align:center;
    padding:8px;
    margin: 0 5px;
}

table tbody tr:hover {
  background-color: teal;
  color: grey;
  transition: 0.3s;
}
summary{
  background-color:teal;
  color:white;
  text-align:center;
  font-weight:bold;
  margin: 7px 10px;
  padding:10px
}

details p{
  background-color: teal;
  border-radius:6px;
  padding:5px;
  margin:0 auto;
}

/* Footer styling */
footer {
  background-color:black;
  color:whitesmoke;
  padding: 20px;
  text-align: center;
}
footer ul {
  list-style: none;
  padding: 0;
  margin: 10px 15px;
  text-align:center;
}
footer li {
  display: inline;
  margin: 0px 25px;
}
footer a {
  padding: 30px;
  color:whitesmoke;
  text-decoration: none;
  font-weight: bold;
  transition: all 0.3s ease;
}
footer a:hover {
  color: teal;
  text-shadow: 0 0 10px grey;
}